@import "../../assets/vars-styles";
$bg-color: #a6cd39;
$white: #ffffff;
$color: #2d3d0e;

.Services {
  min-height: 390px;
  padding-top: 40px;
}

.Services__sales-content {
  margin-top: 15px;
}

.services-content-layout {
  display: flex;
  flex-direction: column;
}

.Services__btn {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Services__title {
  color: #696969;
}

.Services__subtitle {
  color: $primary-color;
}

.Services__list {
  display: flex;
  justify-content: flex-start;
}

.Services__item {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  span {
    padding-left: 3px;
    text-align: center;
  }
}

.Service {
  margin-bottom: 20px;
}

.Services__item__img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: $bg-color;
}

.Services__img {
  height: 240px;
  border-radius: 10px;
}

@media screen and (min-width: $screen-md) {
  .services-content-layout {
    flex-direction: row;
  }
  .Services__list {
    display: flex;
    justify-content: center;
  }
  .services-content-layout {
    padding: 30px 35px;
  }
}
