@import "../../assets/vars-styles";
.Products {
  .Products__title {
    color: $primary-color;
  }
  .nav-tabs {
    justify-content: flex-end;
  }
  .nav-item.nav-link {
    color: $black;
    font-size: 25px;
  }
}
