@import "../../assets/vars-styles";

.AboutUs__img {
  width: 90%;
  height: 500px;
  background-color: $second-color;
  border-radius: 10px;
  margin: 0 auto;
  object-fit: cover;
}

.AboutUs__part-right,
.AboutUs__part-left {
  width: 50%;
}

.AboutUs__title {
  text-align: center;
  color: $primary-color;
}
