@import "../../assets/mixins";
@import "../../assets/vars-styles";

.title-level-1 {
  @include typography-title-1();
  font-family: Lato;
}
.title-level-2 {
  @include typography-title-2();
  font-family: Lato;
}
.title-level-3 {
  @include typography-title-3();
  font-family: Lato;
}
.title-level-4 {
  @include typography-title-4();
  font-family: Lato;
}
.title-level-5 {
  @include typography-title-5();
  font-family: Lato;
}
