@import "../../assets/vars-styles";

.Section {
  padding: 10px 0;
}

.Section--white {
  background-color: #ffffff;
}

.Section--gray {
  background-color: #faf9f5;
}

.Section-fluid {
  width: 100%;
}
@media screen and (min-width: $screen-md) {
  .Section {
    padding: 100px 0;
  }
}
