@import "../../assets/vars-styles";

.Footer {
  background-color: $primary-color;
}

.Footer__title {
  color: #ffffff;
  border-bottom: 1px solid #ffffff ;
}

.reset-list {
  list-style: none;
  padding-left: 0;
}

.FooterNav__title {
  margin-bottom: 30px;
  display: block;
  padding-left: 16px;
}

.Form_input {
  background-color: $primary-color !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
  border-radius: 0 !important;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff !important;
    opacity: 1 !important; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffffff !important;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ffffff !important;
  }
}
