$red-bg: #ff161f;
$white: #ffffff;

.Banner {
  background-color: $red-bg;
  display: flex;
  align-items: flex-end;
}
.Banner__btn {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Banner__btn .btn {
  color: $white;
  font-family: Gotham-Book, sans-serif;
  background-color: unset;
  border-radius: 20px;
  width: 255px;
  border-width: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.Banner__img {
  max-height: 100vh;
  object-fit: cover;
  background-color: #000;
  object-position: top;
}
